apache-airflow==2.10.1
apache-airflow-providers-snowflake==5.7.0

snowflake-connector-python==3.7.0
snowflake-snowpark-python==1.11.0

dbt-core==1.8.0
dbt-snowflake==1.8.0

pandas==2.2.2
numpy==1.26.4
requests==2.31.0

python-dotenv==1.0.1
